@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}

.second-font {
    font-size: 12px;
}

.second-color {
    color: #333;
}

.first-color {
    color: #666;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

/* hotline */

.hotline {
    position: relative;
}

.hotline0::before {
    position: absolute;
    content: "";
    background: linear-gradient(90deg, rgba(49, 85, 117, 1) 20%, rgba(29, 142, 211, 1) 50%, rgba(255, 207, 0, 1) 100%);
    width: 100%;
    height: 4px;
}

.hotline0::after {
    position: absolute;
    content: "";
    background-color: #f2f2f2;
    height: 1px;
    width: 100%;
}

.huongdan {
    text-align: right;
}

/* header */

.logo-header a img {
    max-width: 100%;
    height: 70px;
}

.search-header {
    margin-top: 8px !important;
    width: 85%;
    display: block;
    margin: auto;
}

.search input {
    width: 100%;
    height: 40px;
    outline: none;
    padding: 0 60px 0 20px;
    background: #ededed;
    border-radius: 999px;
    border: 1px solid #ededed;
}

.search i {
    right: 2%;
    font-size: 30px;
    top: 15%;
}

.login-header i {
    border: 2px solid #dddddd;
    border-radius: 50%;
    font-size: 17px;
    padding: 10px;
}

.login-header ul li {
    flex-grow: 1;
}

/* navbar */

.navbar-header {
    background-color: black;
    height: 35px;
    font-size: 16px;
    display: flex;
}

.navbar-header>ul>li>a {
    color: white;
    padding: 0 15px;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.navbar-header>ul>li {
    height: 35px;
    display: flex;
    align-items: center;
}

.active-red {
    color: #f00 !important;
}

.nam {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 15px;
    top: 2.5rem;
    width: 250px;
    padding: 0;
    display: none;
    border-top: 2px solid #ff0000;
}

.nu {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 15px;
    top: 2.5rem;
    width: 250px;
    padding: 0;
    display: none;
    border-top: 2px solid #ff0000;
}

.kid {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 15px;
    top: 2.5rem;
    width: 250px;
    padding: 0;
    display: none;
    border-top: 2px solid #ff0000;
}

.thuonghieu {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 15px;
    top: 2.5rem;
    width: 250px;
    padding: 0;
    display: none;
    border-top: 2px solid #ff0000;
}

.phukien {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 15px;
    top: 2.5rem;
    width: 250px;
    padding: 0;
    display: none;
    border-top: 2px solid #ff0000;
}

.nam li {
    color: black !important;
    padding: 9px 18px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.nu li {
    color: black !important;
    padding: 9px 18px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.kid li {
    color: black !important;
    padding: 9px 18px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.thuonghieu li {
    color: black !important;
    padding: 9px 18px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.phukien li {
    color: black !important;
    padding: 9px 18px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.male-navbar:hover ul {
    display: block;
    position: absolute;
    background-color: white;
    color: black;
    visibility: visible;
}

.female-navbar:hover .nu {
    display: block;
    position: absolute;
    background-color: white;
    color: black;
    visibility: visible;
}

.kid-navbar:hover .kid {
    display: block;
    position: absolute;
    background-color: white;
    color: black;
    visibility: visible;
}

.brad-navbar:hover .thuonghieu {
    display: block;
    position: absolute;
    background-color: white;
    color: black;
    visibility: visible;
}

.item-navbar:hover .phukien {
    display: block;
    position: absolute;
    background-color: white;
    color: black;
    visibility: visible;
}

.ultraboost::before {
    content: url(../Images/hot.png);
    width: 10px;
    position: absolute;
    top: -15px;
    right: 15px;
}

/* banner */

.banner>div {
    padding: 0;
}

/* collection */

.collection {
    width: 92%;
    margin: auto;
}

.list-collection {
    padding: 30px 15px 10px;
    text-align: center;
}

.list-collection img {
    width: 68.3%;
}

.list-collection img:hover {
    opacity: 0.5;
}

.list-collection p {
    color: #777;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* san pham ban chay */

.sp {
    width: 90%;
    margin: auto;
}

.sp h2 {
    text-align: center;
    position: relative;
}

.sp h2 a {
    font-size: 34px;
    line-height: 1.6;
}

.sp h2::before {
    content: "";
    border-bottom: 1px solid black;
    width: 55px;
    height: 1px;
    position: absolute;
    bottom: -25%;
    left: 48%;
}

.sanpham1 {
    padding: 10px;
    border: 1.5px solid #eee;
    position: relative;
}

.sanpham1::before {
    content: "";
    background-image: url(../Images/sale.png);
    position: absolute;
    width: 35px;
    height: 35px;
    background-size: 100%;
    right: 14px;
}

.muangay {
    top: 63%;
    display: none;
    position: absolute;
    border: 1px solid black;
    font-weight: 700;
    font-size: 12px;
    width: 92%;
    text-align: center;
    align-items: center;
    height: 31.6px;
}

.muangay span {
    height: 102%;
    font-size: 12px;
    width: 50%;
    background-color: black;
    color: white;
}

.muangay div {
    font-size: 12px;
    height: 102%;
    width: 50%;
}

.sanpham1:hover .muangay {
    display: flex;
}

.sanpham1 h3 a {
    font-size: 16px;
}

.bgr-img1 {
    background-image: url(../Images/giay11.png);
    width: 100%;
    height: 17.7rem;
    background-size: 100%;
}

.star-yellow i {
    color: #f7d805!important;
}

.giaban>span>b {
    margin-right: 10px;
}

.giaban {
    margin-bottom: 10px;
}

.sanpham1:hover .bgr-img1 {
    background-image: url(../Images/giay12.png);
}

.sanpham2 {
    padding: 10px;
    border: 1.5px solid #eee;
    position: relative;
}

.sanpham2::before {
    content: "";
    background-image: url(../Images/sale.png);
    position: absolute;
    width: 35px;
    height: 35px;
    background-size: 100%;
    right: 14px;
}

.sanpham2:hover .muangay {
    display: flex;
}

.sanpham2 h3 a {
    font-size: 16px;
}

.sanpham2:hover .bgr-img2 {
    background-image: url(../Images/giay22.png);
}

.bgr-img2 {
    background-image: url(../Images/giay21.png);
    width: 100%;
    height: 17.7rem;
    background-size: 100%;
}

.sanpham3 {
    padding: 10px;
    border: 1.5px solid #eee;
    position: relative;
}

.sanpham3::before {
    content: "";
    background-image: url(../Images/sale.png);
    position: absolute;
    width: 35px;
    height: 35px;
    background-size: 100%;
    right: 14px;
}

.sanpham3:hover .muangay {
    display: flex;
}

.sanpham3 h3 a {
    font-size: 16px;
}

.sanpham3:hover .bgr-img3 {
    background-image: url(../Images/tui32.png);
}

.bgr-img3 {
    background-image: url(../Images/tui31.png);
    width: 100%;
    height: 17.7rem;
    background-size: 100%;
}

.sanpham4 {
    padding: 10px;
    border: 1.5px solid #eee;
    position: relative;
}

.sanpham4::before {
    content: "";
    background-image: url(../Images/sale.png);
    position: absolute;
    width: 35px;
    height: 35px;
    background-size: 100%;
    right: 14px;
}

.sanpham4:hover .muangay {
    display: flex;
}

.sanpham4 h4 a {
    font-size: 16px;
}

.sanpham4:hover .bgr-img4 {
    background-image: url(../Images/ao42.png);
}

.bgr-img4 {
    background-image: url(../Images/ao41.png);
    width: 100%;
    height: 17.7rem;
    background-size: 100%;
}

.sanpham4 h3 a {
    font-size: 16px;
}

.sanpham1 h3 {
    white-space: nowrap;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sanpham2 h3 {
    white-space: nowrap;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sanpham3 h3 {
    white-space: nowrap;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sanpham4 h3 {
    white-space: nowrap;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sanpham1:hover {
    border: 1.1px solid #1d8ed3;
}

.sanpham2:hover {
    border: 1.1px solid #1d8ed3;
}

.sanpham3:hover {
    border: 1.1px solid #1d8ed3;
}

.sanpham4:hover {
    border: 1.1px solid #1d8ed3;
}

/* xu huong */

.bgr-xh {
    background-image: url(../Images/xuhuong1.png);
    max-width: 100%;
    height: 24.59rem;
    background-size: 100%;
}

.bgr-xh1 {
    background-image: url(../Images/xuhuong2.png);
    max-width: 100%;
    background-size: cover;
    height: 20rem;
}

.bgr-xh2 {
    background-image: url(../Images/xuhuong3.png);
    max-width: 100%;
    background-size: cover;
    height: 20rem;
}

.bgr-xh3 {
    background-image: url(../Images/xuhuong4.png);
    max-width: 100%;
    background-size: cover;
    height: 20rem;
}

.btn-xh {
    background: #fff;
    opacity: 0.7;
    border: 2px solid black;
    padding: 8px;
    width: 120px;
    height: 40px;
    transform: translate(-50%, -50%);
    position: absolute;
    bottom: 5%;
    left: 50%;
}

.btn-xh:hover {
    background: #ffcf00;
}

/* san pham noi bat */
.carousel-indicators .active{
    background-color: black !important;
}
.carousel-sp {
    top: -45px;
    z-index: 100000;
    height: 39.2px;
    margin-left: 6.5%;
    margin-right: 6.5%;
    border-bottom: 2px solid #1d8ed3;
    background-color: #eeeeee;
}

.carousel-sp .active {
    color: #fff !important;
    background-color: #1d8ed3 !important;
}

.carousel-sp li {
    text-indent: 0;
    margin: auto;
    width: 190px;
    height: 29px;
    border: none;
    text-align: center;
    padding-top: 9px;
    font-weight: bold;
}

.sanpham121 h3 {
    white-space: nowrap;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sanpham121 {
    padding: 10px;
    border: 1.5px solid #eee;
    position: relative;
}

.sanpham121::before {
    content: "";
    background-image: url(../Images/sale.png);
    position: absolute;
    width: 35px;
    height: 35px;
    background-size: 100%;
    right: 14px;
}

.sanpham121:hover .muangay {
    display: flex;
}

.sanpham121 h3 a {
    font-size: 16px;
}

.bgr-img121 {
    background-image: url(../Images/spnb121.webp);
    width: 100%;
    height: 239.5px;
    background-size: 100%;
}

.sanpham131 h3 {
    white-space: nowrap;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sanpham131 {
    padding: 10px;
    border: 1.5px solid #eee;
    position: relative;
}

.sanpham131::before {
    content: "";
    background-image: url(../Images/sale.png);
    position: absolute;
    width: 35px;
    height: 35px;
    background-size: 100%;
    right: 14px;
}

.sanpham131:hover .muangay {
    display: flex;
}

.sanpham131 h3 a {
    font-size: 16px;
}

.bgr-img131 {
    background-image: url(../Images/spnb131.webp);
    width: 100%;
    height: 239.5px;
    background-size: 100%;
}

.sanpham141 h3 {
    white-space: nowrap;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sanpham141 {
    padding: 10px;
    border: 1.5px solid #eee;
    position: relative;
}

.sanpham141::before {
    content: "";
    background-image: url(../Images/sale.png);
    position: absolute;
    width: 35px;
    height: 35px;
    background-size: 100%;
    right: 14px;
}

.sanpham141:hover .muangay {
    display: flex;
}

.sanpham141 h3 a {
    font-size: 16px;
}

.bgr-img141 {
    background-image: url(../Images/spnb141.webp);
    width: 100%;
    height: 239.5px;
    background-size: 100%;
}

.sanpham151 h3 {
    white-space: nowrap;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sanpham151 {
    padding: 10px;
    border: 1.5px solid #eee;
    position: relative;
}

.sanpham151::before {
    content: "";
    background-image: url(../Images/sale.png);
    position: absolute;
    width: 35px;
    height: 35px;
    background-size: 100%;
    right: 14px;
}

.sanpham151:hover .muangay {
    display: flex;
}

.sanpham151 h3 a {
    font-size: 16px;
}

.bgr-img151 {
    background-image: url(../Images/spnb151.webp);
    width: 100%;
    height: 239.5px;
    background-size: 100%;
}

.sanpham161 h3 {
    white-space: nowrap;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sanpham161 {
    padding: 10px;
    border: 1.5px solid #eee;
    position: relative;
}

.sanpham161::before {
    content: "";
    background-image: url(../Images/sale.png);
    position: absolute;
    width: 35px;
    height: 35px;
    background-size: 100%;
    right: 14px;
}

.sanpham161:hover .muangay {
    display: flex;
}

.sanpham161 h3 a {
    font-size: 16px;
}

.bgr-img161 {
    background-image: url(../Images/spnb161.webp);
    width: 100%;
    height: 239.5px;
    background-size: 100%;
}

.sanpham171 h3 {
    white-space: nowrap;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sanpham171 {
    padding: 10px;
    border: 1.5px solid #eee;
    position: relative;
}

.sanpham171::before {
    content: "";
    background-image: url(../Images/sale.png);
    position: absolute;
    width: 35px;
    height: 35px;
    background-size: 100%;
    right: 14px;
}

.sanpham171:hover .muangay {
    display: flex;
}

.sanpham171 h3 a {
    font-size: 16px;
}

.bgr-img171 {
    background-image: url(../Images/spnb171.webp);
    width: 100%;
    height: 239.5px;
    background-size: 100%;
}

.sanpham181 h3 {
    white-space: nowrap;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sanpham181 {
    padding: 10px;
    border: 1.5px solid #eee;
    position: relative;
}

.sanpham181::before {
    content: "";
    background-image: url(../Images/sale.png);
    position: absolute;
    width: 35px;
    height: 35px;
    background-size: 100%;
    right: 14px;
}

.sanpham181:hover .muangay {
    display: flex;
}

.sanpham181 h3 a {
    font-size: 16px;
}

.bgr-img181 {
    background-image: url(../Images/spnb181.jpg);
    width: 100%;
    height: 239.5px;
    background-size: 100%;
}

.sanpham211 h3 {
    white-space: nowrap;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sanpham211 {
    padding: 10px;
    border: 1.5px solid #eee;
    position: relative;
}

.sanpham211::before {
    content: "";
    background-image: url(../Images/sale.png);
    position: absolute;
    width: 35px;
    height: 35px;
    background-size: 100%;
    right: 14px;
}

.sanpham211:hover .muangay {
    display: flex;
}

.sanpham211 h3 a {
    font-size: 16px;
}

.bgr-img211 {
    background-image: url(../Images/spnb211.webp);
    width: 100%;
    height: 239.5px;
    background-size: 100%;
}

.sanpham211:hover .bgr-img211 {
    background-image: url(../Images/spnb212.webp);
}

.sanpham221 h3 {
    white-space: nowrap;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sanpham221 {
    padding: 10px;
    border: 1.5px solid #eee;
    position: relative;
}

.sanpham221::before {
    content: "";
    background-image: url(../Images/sale.png);
    position: absolute;
    width: 35px;
    height: 35px;
    background-size: 100%;
    right: 14px;
}

.sanpham221:hover .muangay {
    display: flex;
}

.sanpham221 h3 a {
    font-size: 16px;
}

.bgr-img221 {
    background-image: url(../Images/spnb221.webp);
    width: 100%;
    height: 239.5px;
    background-size: 100%;
}

.sanpham221:hover .bgr-img221 {
    background-image: url(../Images/spnb222.webp);
}

.sanpham231 h3 {
    white-space: nowrap;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sanpham231 {
    padding: 10px;
    border: 1.5px solid #eee;
    position: relative;
}

.sanpham231::before {
    content: "";
    background-image: url(../Images/sale.png);
    position: absolute;
    width: 35px;
    height: 35px;
    background-size: 100%;
    right: 14px;
}

.sanpham231:hover .muangay {
    display: flex;
}

.sanpham231 h3 a {
    font-size: 16px;
}

.bgr-img231 {
    background-image: url(../Images/spnb231.webp);
    width: 100%;
    height: 239.5px;
    background-size: 100%;
}

.sanpham231:hover .bgr-img231 {
    background-image: url(../Images/spnb232.webp);
}

.sanpham241 h3 {
    white-space: nowrap;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sanpham241 {
    padding: 10px;
    border: 1.5px solid #eee;
    position: relative;
}

.sanpham241::before {
    content: "";
    background-image: url(../Images/sale.png);
    position: absolute;
    width: 35px;
    height: 35px;
    background-size: 100%;
    right: 14px;
}

.sanpham241:hover .muangay {
    display: flex;
}

.sanpham241 h3 a {
    font-size: 16px;
}

.bgr-img241 {
    background-image: url(../Images/spnb241.webp);
    width: 100%;
    height: 239.5px;
    background-size: 100%;
}

.sanpham241:hover .bgr-img241 {
    background-image: url(../Images/spnb242.webp);
}

.btn-more {
    bottom: 0;
    right: 5%;
    width: 132px;
}
/* thuong hieu */
.img-th img{
    max-width: 100%;
}
.bgr-th-1{
    background-image: url(../Images/bgrthuonghieu1.webp);
    width: 100%;
    height: 32rem;
    background-size: 100%;
}
.bgr-th-2{
    background-image: url(../Images/bgrthuonghieu2.jpg);
    width: 100%;
    height: 32rem;
    background-size: 100%;
}
.btn-th{
    background: #fff;
    opacity: 0.7;
    border: 2px solid #000;
    padding: 8px;
    width: 120px;
    height: 40px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-th:hover{
    background: #ffcf00;
}

.th{
    height: 33rem;
    width: 100%;
    background: #f8f8f8;
}
/* li do chon hodu  */
.ft1{
    border-bottom: 1px solid #dddddd;
}
.lido div{
    text-align: center;
}
.lido >div>img{
    padding-bottom: 15px;
}
.lido h6{
    font-weight: bold;
}
.ul-tk{
    display: flex;
}
.ul-tk li{
    margin: 10px 10px 0px;
    background: rgb(207, 231, 243);
    border-radius: 15px;
}
.ul-tk li a{
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 24px;
    padding: 10px;
}
.lh  h4{
    font-size: 14px;
    letter-spacing: 0.02em;
    margin: 0 0 10px;
    position: relative;
    line-height: 18px;
    text-transform: uppercase;
}
.lh i{
    background: #e52c25;
    color: #fff;
    border-radius: 100%;
    padding: 10px;
    font-size: 16px;
}
.lh span a{
    font-size: 25px;
}
.lh p{
    font-size: 11px;
    margin: 5px 0 0;
}
.dk h4{
    font-size: 14px;
    letter-spacing: 0.02em;
    margin: 0 0 10px;
    line-height: 18px;
    text-transform: uppercase;
}
.ip-up{
    height: 36px;
    border-radius: 0;
    border: 1px solid #d0d0d0;
    width: 100%;
    padding-right: 85px;
}
.btn-up{
    background: #000;
    border: none;
    color: #fff;
    height: 36px;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
}
.cb-up span{
    font-size: 12px;
    font-weight: bold;
}
.hodu h4{
    font-size: 14px;
    letter-spacing: 0.02em;
    margin: 0 0 10px;
    line-height: 18px;
}
.hodu i{
    font-size: 35px;
    margin-right: 10px;
}
.footer-2{
    border-bottom: 1px solid #dddddd;
}
.ft2 ul{
    padding: 0;
}
.ft2 h4{
    letter-spacing: 0.5px;
    margin: 5px 0px 20px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(34, 34, 34);
}
.ft2 ul li{
    margin-bottom: 5px;
}
.lf-1{
    background: white;
    padding: 8px;
    height: 6.5rem;
}
.lf-1 img{
    height: 52px;
}
.lf-1>div>a{
    color: #365899;
    font-weight: bold;
    font-size: 18px;
}
.lf-1>div>p{
    color: #1d2129;
    font-size: 12px;
    line-height: 1.358;
}
.lf-2 i{
    color: rgb(59, 89, 152);
}
.lf-2{
    margin-left: 5px;
    padding: 2px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid black;
}
.ft-end span{
    justify-content: space-between;
    margin-left: auto;
}
.th-footer{
    height: 36rem;
    width: 100%;
    background: #f8f8f8;
}
/* push up */
.zalo img{
    height: 65px;
    position: fixed;
    bottom: 70px;
    border-radius: 999px;
    z-index: 1000000;
    left: 24px;
}
.mess img{
    height: 65px;
    position: fixed;
    bottom: 70px;
    border-radius: 999px;
    z-index: 1000000;
    right: 24px;
}
.push-up {
    display: none;
    position: fixed;
    bottom: 144px;
    right: 20px;
}
.push-up i{
    font-size: 50px;
}
.navbar-sd{
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 1000000;
}
/* tablets */
.tabler-s{
    display: none;
}
.menu-tablet{
    display: none;
}
.brg-tablets{
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 7777777;
}
.menu-tablets{
    display: none;
    width: 34.5rem;
    overflow: hidden;
    min-height: 100%;
    padding: 60px 70px 250px;
    z-index: 1000000000000;
    background: #fff;
    right: 0;
}
.menu-tablets>p{
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 20px;
}
.menu-tablets i{
    margin-left: auto;
    font-size: 25px;
}
.menu-tablets li a{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
}
.menu-tablets>p>i{
    font-size: 40px;
}
.input-tablet{
    display: none;
}
.input-tablet input{
    width: 100%;
    height: 38px;
    font-size: 12px;
    background: #f5f5f5;
    color: #333333;
    font-weight: 500;
    padding: 0 55px 0 20px;
}
.input-tablet i{
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0.7;
}
/* tablets */
@media only screen and (max-width: 991px) {
    .tablet-search{
        display: none;
    }
    .tabler-s{
        display: block;
    }
    .px-1> span{
        display: none;
    }
    .px-1> div{
        display: none;
    }
    .logo-header a img{
        max-width: 115%;
    }
    .login-header{
        margin-left: auto;
    }
    .menu-tablet{
        display: flex;
    }
    .menu-tablet i{
        border: none !important;
        font-size: 40px;
    }
    .navbar-header{
        display: none;
    }
    .bgr-xh{
        height: 12.9rem;
    }
    .bgr-xh1{
        height: 10rem;
    }
    .bgr-xh2{
        height: 10rem;
    }
    .bgr-xh3{
        height: 10rem;
    }
    .input-tablet{
        display: block;
    }
    .tablet-none{
        display: none;
    }
    .sp{
        width: 100%;
    }
    .col-sm-6{
        margin-bottom: 15px;
    }
    .bgr-th-1{
        height: 19.2rem;
    }
    .bgr-th-2{
        height: 19.2rem;
    }
    .th{
        height: 21rem;
    }
    .ul-tk{
        display: block;
    }
    .ul-tk li{
        float: left;
    }
    .th-footer{
        margin-top: 10rem;
        height: 47rem;
    }
    .lh span a{
        font-size: 20px;
    }
}
